html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul, nav { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
a { color: inherit; text-decoration: none; }

/* ==|== Styles ===============================================================
   Author: Nathan Gordon
   ========================================================================== */

/* ==|== TYPOGRAPHY ========================================================= */

@font-face {
    font-family: 'single-sleeve';
    src: url('/single-sleeve.eot');
    src: url('/single-sleeve.eot?#iefix') format('embedded-opentype'),
         url('/single-sleeve.woff') format('woff'),
         url('/single-sleeve.ttf') format('truetype'),
         url('/single-sleeve.svg#single-sleeve') format('svg');
    font-weight: normal;
    font-style: normal;
}

.single-sleeve { 
    font-family: 'single-sleeve'; 
    letter-spacing: 1px;
}

@font-face {
    font-family: 'mcbess-icons';
    src:url('/mcbess.eot');
    src:url('/mcbess.eot?#iefix') format('embedded-opentype'),
        url('/mcbess.woff') format('woff'),
        url('/mcbess.ttf') format('truetype'),
        url('/mcbess.svg#mcbess') format('svg');
    font-weight: normal;
    font-style: normal;
}

.mcbess-icons { 
    font-family: 'mcbess-icons'; 
    speak: none; 
    font-weight: normal; 
    font-variant: normal; 
    text-transform: none; 
    -webkit-font-smoothing: antialiased; 
}

/* ==|== SVGs =============================================================== */

.un-logo {
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2016.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22LOGO%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%22202.603px%22%20height%3D%22275.374px%22%20viewBox%3D%220%200%20202.603%20275.374%22%20enable-background%3D%22new%200%200%20202.603%20275.374%22%0D%0A%09%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M96.57%2C0v220.343c0%2C3.671-2.99%2C6.648-6.686%2C6.648H6.697c-3.696%2C0-6.697-2.978-6.697-6.648V0h35.864v191.596%0D%0A%09h24.854V0H96.57z%20M141.644%2C226.991V35.396h24.852v191.596h35.859V6.638c0-3.667-3-6.638-6.692-6.638h-83.191%0D%0A%09c-3.695%2C0-6.69%2C2.972-6.69%2C6.638v220.353H141.644z%20M0.697%2C270.334c-0.088%2C0.419-0.152%2C0.747-0.189%2C0.984%0D%0A%09c-0.037%2C0.239-0.059%2C0.552-0.059%2C0.936c0%2C1.312%2C0.487%2C2.228%2C1.453%2C2.736c0.503%2C0.258%2C1.06%2C0.384%2C1.674%2C0.384%0D%0A%09c2.269%2C0%2C4.683-1.516%2C7.23-4.552c1.469-1.769%2C3.491-4.784%2C6.056-9.053l0.206-0.006l-0.722%2C2.582%0D%0A%09c-0.54%2C1.923-0.973%2C3.525-1.316%2C4.809c-0.204%2C0.709-0.353%2C1.348-0.444%2C1.913c-0.086%2C0.558-0.139%2C1.079-0.139%2C1.55%0D%0A%09c0%2C0.928%2C0.262%2C1.608%2C0.771%2C2.047c0.514%2C0.437%2C1.173%2C0.652%2C1.976%2C0.652c1.549%2C0%2C3.228-1.002%2C5.036-3.014%0D%0A%09c0.913-1.01%2C1.793-2.198%2C2.632-3.587l-0.788-0.518c-0.666%2C0.816-1.159%2C1.437-1.487%2C1.833c-0.518%2C0.653-0.883%2C1.085-1.085%2C1.285%0D%0A%09c-0.427%2C0.436-0.786%2C0.762-1.07%2C0.973c-0.294%2C0.209-0.572%2C0.313-0.847%2C0.313c-0.265%2C0-0.457-0.089-0.567-0.266%0D%0A%09c-0.109-0.167-0.167-0.369-0.167-0.608c0-0.201%2C0.037-0.46%2C0.106-0.766c0.077-0.313%2C0.158-0.65%2C0.253-1.012l5.427-19.453h-4.165%0D%0A%09c-1.118%2C3.071-1.978%2C5.318-2.575%2C6.721c-0.971%2C2.269-2.03%2C4.329-3.184%2C6.174c-1.289%2C2.062-2.757%2C4.055-4.411%2C5.978%0D%0A%09c-1.647%2C1.917-3.02%2C2.884-4.12%2C2.884c-0.393%2C0-0.707-0.123-0.951-0.363c-0.241-0.233-0.358-0.564-0.358-0.984%0D%0A%09c0-0.111%2C0.03-0.286%2C0.08-0.544c0.06-0.258%2C0.155-0.617%2C0.278-1.075l5.371-18.519l0.08-0.45c0.022-0.107-0.006-0.212-0.08-0.324%0D%0A%09c-0.074-0.104-0.163-0.146-0.249-0.134L5.9%2C250.686l-4.108%2C0.804v0.76c1.292%2C0%2C2.171%2C0.084%2C2.638%2C0.258%0D%0A%09c0.472%2C0.179%2C0.701%2C0.656%2C0.701%2C1.441c0%2C0.161-0.008%2C0.325-0.039%2C0.479c-0.027%2C0.159-0.053%2C0.319-0.1%2C0.512L0.697%2C270.334z%0D%0A%09%20M29.338%2C268.874c-0.164%2C0.608-0.286%2C1.143-0.387%2C1.6c-0.154%2C0.755-0.228%2C1.374-0.228%2C1.829c0%2C1.188%2C0.403%2C2.031%2C1.199%2C2.519%0D%0A%09c0.509%2C0.336%2C1.102%2C0.495%2C1.767%2C0.495c1.555%2C0%2C3.095-0.752%2C4.626-2.273c0.886-0.893%2C2.127-2.5%2C3.712-4.817l-0.747-0.516%0D%0A%09c-0.733%2C1.09-1.636%2C2.219-2.708%2C3.392c-1.062%2C1.167-1.931%2C1.753-2.594%2C1.753c-0.35%2C0-0.592-0.125-0.721-0.374%0D%0A%09c-0.125-0.247-0.191-0.54-0.191-0.885c0-0.17%2C0.015-0.333%2C0.05-0.494c0.041-0.167%2C0.161-0.642%2C0.367-1.424l9.191-32.946%0D%0A%09c-0.13-0.173-0.255-0.271-0.385-0.271c-1.487%2C0.37-2.746%2C0.648-3.78%2C0.827c-0.333%2C0.049-1.043%2C0.157-2.125%2C0.303%0D%0A%09c-1.084%2C0.147-2.044%2C0.265-2.88%2C0.386v0.896c1.501-0.014%2C2.505%2C0.047%2C3.012%2C0.18c0.498%2C0.139%2C0.751%2C0.521%2C0.751%2C1.14%0D%0A%09c0%2C0.143-0.009%2C0.343-0.031%2C0.58c-0.018%2C0.234-0.063%2C0.469-0.14%2C0.709L29.338%2C268.874z%20M44.238%2C272.913%0D%0A%09c0%2C0.615%2C0.213%2C1.172%2C0.635%2C1.666c0.423%2C0.497%2C1.109%2C0.737%2C2.049%2C0.737c1.087%2C0%2C2.235-0.459%2C3.451-1.38%0D%0A%09c1.199-0.915%2C2.598-2.57%2C4.188-4.922l0.389-0.564l-0.726-0.419c-1.177%2C1.514-2.02%2C2.531-2.513%2C3.044%0D%0A%09c-0.867%2C0.948-1.535%2C1.423-2.018%2C1.423c-0.35%2C0-0.599-0.155-0.745-0.454c-0.145-0.3-0.172-0.618-0.089-0.942l5.097-18.409h4.764%0D%0A%09l0.331-1.866h-4.553l1.624-5.983c0.018-0.11%2C0.026-0.213%2C0.018-0.314c-0.008-0.09-0.044-0.216-0.1-0.334%0D%0A%09c-0.071-0.035-0.202-0.07-0.39-0.104c-0.093%2C0-0.175%2C0.014-0.265%2C0.055c-0.082%2C0.054-0.148%2C0.117-0.204%2C0.187l-0.44%2C0.526%0D%0A%09c-1.776%2C2.088-3.178%2C3.497-4.209%2C4.232c-1.027%2C0.73-2.481%2C1.492-4.354%2C2.287c-0.291%2C0.126-0.476%2C0.259-0.549%2C0.377%0D%0A%09c-0.079%2C0.129-0.118%2C0.447-0.118%2C0.938h4.204l-5.336%2C19.121c-0.06%2C0.199-0.098%2C0.392-0.112%2C0.592%0D%0A%09C44.245%2C272.597%2C44.238%2C272.764%2C44.238%2C272.913z%20M69.383%2C249.782c-0.082%2C0-0.984%2C0.171-2.692%2C0.491%0D%0A%09c-1.703%2C0.334-3.272%2C0.637-4.708%2C0.937l-1.103%2C0.216v0.907c0.46-0.06%2C0.854-0.104%2C1.191-0.142c0.324-0.033%2C0.604-0.058%2C0.819-0.058%0D%0A%09c0.688%2C0%2C1.17%2C0.154%2C1.442%2C0.444c0.271%2C0.292%2C0.406%2C0.712%2C0.406%2C1.263c0%2C0.475-0.073%2C1.084-0.229%2C1.834%0D%0A%09c-0.154%2C0.747-0.365%2C1.6-0.619%2C2.551l-4.605%2C16.487h4.233c0.841-2.684%2C1.517-4.755%2C2.014-6.217c0.79-2.316%2C1.504-4.186%2C2.153-5.589%0D%0A%09c1.064-2.325%2C2.279-4.475%2C3.633-6.461c1.36-1.992%2C2.393-2.998%2C3.114-2.998c0.145%2C0%2C0.272%2C0.037%2C0.374%2C0.102%0D%0A%09c0.102%2C0.068%2C0.188%2C0.152%2C0.264%2C0.26l0.331%2C0.604c0.154%2C0.294%2C0.393%2C0.545%2C0.68%2C0.767c0.299%2C0.226%2C0.729%2C0.325%2C1.303%2C0.325%0D%0A%09c0.826%2C0%2C1.47-0.262%2C1.938-0.806c0.463-0.541%2C0.702-1.219%2C0.702-2.046c0-0.718-0.239-1.375-0.705-1.938%0D%0A%09c-0.466-0.565-1.131-0.854-1.997-0.854c-1.599%2C0-3.286%2C1.069-5.064%2C3.198c-1.774%2C2.13-3.335%2C4.48-4.658%2C7.053l-0.636%2C1.27%0D%0A%09l2.816-10.688c0.016-0.095%2C0.035-0.233%2C0.053-0.419c0-0.124-0.037-0.245-0.104-0.345C69.663%2C249.831%2C69.552%2C249.782%2C69.383%2C249.782z%0D%0A%09%20M97.188%2C249.86c-3.868%2C0-7.609%2C2.174-11.213%2C6.507c-3.51%2C4.166-5.257%2C8.175-5.257%2C12.012c0%2C2.235%2C0.601%2C3.954%2C1.816%2C5.171%0D%0A%09c1.217%2C1.221%2C2.571%2C1.824%2C4.054%2C1.824c0.887%2C0%2C1.806-0.167%2C2.768-0.494c1.23-0.493%2C2.519-1.335%2C3.855-2.522%0D%0A%09c1.142-0.991%2C2.102-2.007%2C2.881-3.062c0.772-1.049%2C1.33-1.848%2C1.664-2.394c-0.233%2C0.837-0.484%2C1.872-0.722%2C3.101%0D%0A%09c-0.255%2C1.227-0.385%2C2.184-0.385%2C2.826c0%2C0.717%2C0.193%2C1.311%2C0.563%2C1.777c0.391%2C0.479%2C0.935%2C0.711%2C1.629%2C0.711%0D%0A%09c1.072%2C0%2C2.198-0.432%2C3.389-1.297c1.19-0.872%2C2.767-2.521%2C4.731-4.941l-0.644-0.582l-1.816%2C1.755%0D%0A%09c-0.271%2C0.257-0.495%2C0.471-0.694%2C0.646c-0.194%2C0.171-0.358%2C0.323-0.529%2C0.45l-0.493%2C0.383c-0.286%2C0.217-0.522%2C0.386-0.732%2C0.495%0D%0A%09c-0.199%2C0.108-0.391%2C0.162-0.552%2C0.162c-0.202%2C0-0.38-0.056-0.524-0.182c-0.114-0.118-0.184-0.3-0.184-0.559%0D%0A%09c0-0.398%2C0.32-1.996%2C1.008-4.804c0.416-1.551%2C0.915-3.388%2C1.52-5.534l2.729-9.803c0.072-0.256%2C0.139-0.45%2C0.185-0.59%0D%0A%09c0.027-0.132%2C0.091-0.32%2C0.172-0.56c0.042-0.163%2C0.042-0.278%2C0.003-0.34c-0.019-0.063-0.125-0.097-0.287-0.097l-3.189%2C0.35%0D%0A%09c-0.188%2C0.024-0.321%2C0.071-0.38%2C0.15c-0.059%2C0.093-0.125%2C0.237-0.202%2C0.478l-0.622%2C2.068l-0.143-0.386%0D%0A%09c-0.23-0.659-0.565-1.189-0.991-1.587C99.783%2C250.238%2C98.652%2C249.86%2C97.188%2C249.86z%20M100.614%2C254.939%0D%0A%09c0%2C3.258-1.241%2C6.899-3.71%2C10.945c-2.574%2C4.449-5.241%2C6.665-8.016%2C6.665c-0.941%2C0-1.724-0.33-2.352-1.002%0D%0A%09c-0.644-0.658-0.959-1.73-0.959-3.193c0-2.907%2C1.141-6.375%2C3.434-10.398c2.605-4.573%2C5.42-6.859%2C8.455-6.859%0D%0A%09c0.862%2C0%2C1.607%2C0.315%2C2.229%2C0.938C100.311%2C252.651%2C100.614%2C253.62%2C100.614%2C254.939z%20M113.388%2C274.713%0D%0A%09c1.205-3.966%2C2.084-6.709%2C2.64-8.218c0.555-1.501%2C1.314-3.058%2C2.264-4.639c1.295-2.049%2C2.562-3.8%2C3.818-5.279%0D%0A%09c2.115-2.488%2C3.888-3.725%2C5.287-3.725c0.527%2C0%2C0.914%2C0.158%2C1.128%2C0.482c0.213%2C0.317%2C0.324%2C0.695%2C0.324%2C1.134%0D%0A%09c0%2C0.2-0.038%2C0.537-0.101%2C0.999c-0.066%2C0.467-0.202%2C1.064-0.37%2C1.792l-3.536%2C13.322c-0.072%2C0.254-0.133%2C0.554-0.171%2C0.903%0D%0A%09c-0.048%2C0.35-0.065%2C0.671-0.065%2C0.984c0%2C1.08%2C0.278%2C1.821%2C0.852%2C2.237c0.569%2C0.408%2C1.161%2C0.609%2C1.766%2C0.609%0D%0A%09c1.371%2C0%2C2.781-0.717%2C4.255-2.155c0.878-0.828%2C2.056-2.255%2C3.534-4.287l-0.812-0.702c-1.354%2C1.824-2.331%2C3.014-2.939%2C3.572%0D%0A%09c-0.592%2C0.559-1.123%2C0.838-1.59%2C0.838c-0.283%2C0-0.489-0.112-0.608-0.328c-0.129-0.225-0.195-0.475-0.195-0.747%0D%0A%09c0-0.16%2C0.035-0.439%2C0.14-0.832c0.087-0.393%2C0.171-0.724%2C0.242-0.997l3.632-13.125c0.161-0.549%2C0.268-1.059%2C0.366-1.536%0D%0A%09c0.095-0.472%2C0.146-0.928%2C0.146-1.372c0-1.565-0.565-2.651-1.707-3.259c-0.583-0.308-1.288-0.466-2.106-0.466%0D%0A%09c-2.108%2C0-4.5%2C1.471-7.183%2C4.41c-1.526%2C1.668-3.413%2C4.195-5.675%2C7.615l3.664-11.784c-0.036-0.083-0.107-0.167-0.223-0.241%0D%0A%09l-4.903%2C1.073c-0.58%2C0.123-1.129%2C0.232-1.627%2C0.323c-0.514%2C0.096-1.362%2C0.228-2.552%2C0.413v0.907%0D%0A%09c0.266-0.039%2C0.498-0.071%2C0.701-0.102c0.217-0.028%2C0.434-0.039%2C0.663-0.039c0.873%2C0%2C1.478%2C0.15%2C1.773%2C0.451%0D%0A%09c0.304%2C0.304%2C0.464%2C0.722%2C0.464%2C1.257c0%2C0.348-0.034%2C0.676-0.101%2C0.976c-0.066%2C0.305-0.301%2C1.174-0.709%2C2.604l-4.729%2C16.929H113.388%0D%0A%09z%20M154.406%2C249.86c-4.08%2C0-7.863%2C1.875-11.366%2C5.62c-3.421%2C3.658-5.142%2C7.486-5.142%2C11.479c0%2C2.653%2C0.765%2C4.706%2C2.294%2C6.168%0D%0A%09c1.53%2C1.465%2C3.562%2C2.188%2C6.116%2C2.188c4.039%2C0%2C7.821-1.934%2C11.378-5.806c3.441-3.72%2C5.169-7.521%2C5.169-11.406%0D%0A%09c0-2.219-0.636-4.156-1.898-5.785C159.673%2C250.686%2C157.494%2C249.86%2C154.406%2C249.86z%20M142.687%2C268.83%0D%0A%09c0-3.787%2C1.169-7.632%2C3.483-11.537c2.464-4.189%2C5.105-6.279%2C7.922-6.279c1.718%2C0%2C2.896%2C0.796%2C3.536%2C2.391%0D%0A%09c0.338%2C0.838%2C0.499%2C1.94%2C0.499%2C3.312c0%2C3.225-0.987%2C6.779-2.952%2C10.631c-2.315%2C4.499-4.992%2C6.738-7.994%2C6.738%0D%0A%09c-1.471%2C0-2.588-0.495-3.354-1.496C143.06%2C271.597%2C142.687%2C270.345%2C142.687%2C268.83z%20M176.205%2C250.057%0D%0A%09c-0.785%2C0.182-1.616%2C0.349-2.499%2C0.492c-0.667%2C0.108-1.348%2C0.216-2.021%2C0.318c-0.655%2C0.102-1.751%2C0.236-3.276%2C0.418v0.906%0D%0A%09c1.445%2C0%2C2.411%2C0.078%2C2.894%2C0.235c0.487%2C0.153%2C0.729%2C0.565%2C0.729%2C1.218c0%2C0.186-0.018%2C0.37-0.045%2C0.545%0D%0A%09c-0.042%2C0.19-0.095%2C0.387-0.14%2C0.611l-3.939%2C14.073c-0.206%2C0.776-0.346%2C1.355-0.416%2C1.751c-0.07%2C0.387-0.105%2C0.849-0.105%2C1.38%0D%0A%09c0%2C0.892%2C0.251%2C1.677%2C0.789%2C2.329c0.513%2C0.656%2C1.184%2C0.982%2C1.966%2C0.982c1.34%2C0%2C2.728-0.654%2C4.157-1.967%0D%0A%09c0.901-0.846%2C2.041-2.22%2C3.423-4.133l0.275-0.387l-0.723-0.604c-0.876%2C1.188-1.63%2C2.096-2.244%2C2.737%0D%0A%09c-1.016%2C1.081-1.846%2C1.619-2.474%2C1.619c-0.381%2C0-0.604-0.112-0.694-0.328c-0.116-0.202-0.176-0.44-0.176-0.72%0D%0A%09c0-0.194%2C0.134-0.812%2C0.395-1.856l5.581-19.567c0.015-0.089-0.021-0.165-0.13-0.226%0D%0A%09C177.439%2C249.812%2C176.986%2C249.876%2C176.205%2C250.057z%20M176.854%2C243.887c0.754%2C0%2C1.414-0.281%2C1.944-0.865%0D%0A%09c0.548-0.565%2C0.824-1.277%2C0.824-2.11c0-0.854-0.276-1.562-0.824-2.148c-0.53-0.579-1.19-0.875-1.944-0.875%0D%0A%09c-0.744%2C0-1.398%2C0.296-1.923%2C0.875c-0.54%2C0.587-0.813%2C1.295-0.813%2C2.148c0%2C0.815%2C0.273%2C1.517%2C0.813%2C2.104%0D%0A%09C175.455%2C243.602%2C176.109%2C243.887%2C176.854%2C243.887z%20M191.97%2C249.782c-0.091%2C0-0.991%2C0.171-2.698%2C0.491%0D%0A%09c-1.703%2C0.334-3.277%2C0.637-4.712%2C0.937l-1.105%2C0.216v0.907c0.467-0.06%2C0.858-0.104%2C1.186-0.142c0.339-0.033%2C0.615-0.058%2C0.834-0.058%0D%0A%09c0.685%2C0%2C1.153%2C0.154%2C1.428%2C0.444c0.276%2C0.292%2C0.419%2C0.712%2C0.419%2C1.263c0%2C0.475-0.077%2C1.084-0.233%2C1.834%0D%0A%09c-0.154%2C0.747-0.359%2C1.6-0.624%2C2.551l-4.607%2C16.487h4.246c0.839-2.684%2C1.498-4.755%2C2.007-6.217c0.789-2.316%2C1.504-4.186%2C2.146-5.589%0D%0A%09c1.079-2.325%2C2.287-4.475%2C3.651-6.461c1.347-1.992%2C2.391-2.998%2C3.099-2.998c0.151%2C0%2C0.276%2C0.037%2C0.369%2C0.102%0D%0A%09c0.109%2C0.068%2C0.194%2C0.152%2C0.266%2C0.26l0.336%2C0.604c0.16%2C0.294%2C0.401%2C0.545%2C0.687%2C0.767c0.298%2C0.226%2C0.724%2C0.325%2C1.293%2C0.325%0D%0A%09c0.83%2C0%2C1.486-0.262%2C1.946-0.806c0.472-0.541%2C0.701-1.219%2C0.701-2.046c0-0.718-0.229-1.375-0.701-1.938%0D%0A%09c-0.46-0.565-1.131-0.854-1.996-0.854c-1.602%2C0-3.299%2C1.069-5.07%2C3.198c-1.788%2C2.13-3.329%2C4.48-4.653%2C7.053l-0.638%2C1.27%0D%0A%09l2.806-10.688c0.025-0.095%2C0.037-0.233%2C0.057-0.419c0-0.124-0.031-0.245-0.092-0.345C192.248%2C249.831%2C192.13%2C249.782%2C191.97%2C249.782%0D%0A%09z%22/%3E%0D%0A%3C/svg%3E%0D%0A');
    background-repeat: no-repeat; background-size: cover;
}

/* ==|== COMMON ============================================================= */

html { height: 100%; }
body { height: 100%; overflow: hidden; background: #000; }
* { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; } 

.gramophone { cursor: url(/cur-move.png) 16 16, auto; }

/* ==|== INTRO ============================================================== */


.intro { position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 1; }
.intro .pause-load { position: absolute; left: 50%; bottom: 10%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); color: rgba(255, 255, 255, 0.2); font-size: 20px; text-align: center; }
.intro .headphones { position: absolute; left: 50%; top: 40%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); color: #fff; font-size: 25px; line-height: 28px; text-align: center; }
.intro .headphones img { display: block; width: 120px; margin: 0px auto; }
.intro .grain { position: fixed; top: 0; right: 0; bottom: 0; left: 0; background: url(/bg-grain.png) repeat; }
.intro .splash { height: 100%; width: 100%; position: absolute; }
.intro .un-logo { opacity: 0; width: 150px; position: absolute; left: 50%; top: 50%; -webkit-transform: translate3d(-50%, -50%, 0px); transform: translate3d(-50%, -50%, 0px); }
.intro .un-logo:after { content: ''; display: block; padding-top: 136%; }
.intro .fucks-with { opacity: 0; position: absolute; width: 320px; left: 50%; top: 50%; -webkit-transform: translate3d(-50%, -50%, 0px); transform: translate3d(-50%, -50%, 0px); }
.intro .presents { opacity: 0; position: absolute; width: 200px; left: 50%; top: 50%; margin-top: 140px; -webkit-transform: translate3d(-50%, -50%, 0px); transform: translate3d(-50%, -50%, 0px); }
.intro .over-the-hills { z-index: 1; width: 270px; opacity: 0; position: absolute; left: 50%; top: 50%; -webkit-transform: translate3d(-50%, -255px, 0px); transform: translate3d(-50%, -255px, 0px); }
.intro .intro-bottom { width: 210px; opacity: 0; position: absolute; left: 50%; top: 50%; -webkit-transform: translate3d(-50%, 165px, 0px); transform: translate3d(-50%, 165px, 0px); }

.intro .looneytunes { opacity: 0; position: absolute; top: 50%; right: 0; left: 0;  padding-top: 100%; -webkit-transform: translate(0, -50%); transform: translate(0, -50%); }
.intro .album-cover { opacity: 0; display: block; position: absolute; left: 50%; top: 50%; width: 300px; height: 300px; padding: 100px; -webkit-transform: translate3d(-50%, -50%, 0px); transform: translate3d(-50%, -50%, 0px); }
.intro .album-cover img { display: block; position: absolute; height: 100%; width: 100%; top: 0; left: 0; }
.intro .looneytunes div { width: 300px; height: 300px; position: absolute; left: 50%; top: 50%; border-radius: 10000px; border: 500px solid #333; -webkit-transform: translate3d(-50%, -50%, 0px) scale(4); transform: translate3d(-50%, -50%, 0px) scale(4); }
.intro .looneytunes .ring1 { padding: 100px; border-color: #40403f; }
.intro .looneytunes .ring2 { padding: 200px; border-color: #363434; }
.intro .looneytunes .ring3 { padding: 300px; border-color: #2e2c2b; }
.intro .looneytunes .ring4 { padding: 400px; border-color: #262524; }
.intro .looneytunes .ring5 { padding: 500px; border-color: #1e1e1d; }
.intro .looneytunes .ring6 { padding: 600px; border-color: #121111; }

.dead-pirates-svg { z-index: 1; }
.dead-pirates-svg.shadow { stroke: rgba(0,0,0,0.5); margin: 20px 30px; }
.dead-pirates-svg.shadow path { stroke: inherit; }

/* ==|== INTERFACE ========================================================== */

.interface { opacity: 0; }
.interface .logo { position: fixed; top: 50px; left: 50px; color: #fff; cursor: pointer;}
.interface .logo .un { font-size: 50px; text-align: center; }
.interface .logo .dead-pirates { font-size: 65px; text-align: center; }
.interface .menu-prompt { position: fixed; top: 30px; right: 30px; color: #fff; font-size: 12px; cursor: pointer; padding: 20px; }
.interface .sound { position: fixed; top: 50%; right: 50px; color: #fff; cursor: pointer; margin-top: -70px; }
.interface .sound .mute-prompt { font-size: 13px; text-align: center;}
.interface .sound .mute-prompt .muted { display: none; }
.interface .sound .mute-prompt .unmuted { display: block; }
.interface .sound .mute-prompt.active .muted { display: block; }
.interface .sound .mute-prompt.active .unmuted { display: none; }
.interface .sound .volume-prompt { margin: 15px 0 0; }
.interface .sound .volume-prompt li { width: 16px; height: 3px; margin: 2px 0; background: #666; border-radius: 10px; }
.interface .sound .volume-prompt li.active { background: #fff; }
.interface .share { position: fixed; bottom: 130px; right: 50px; color: #fff; }
.interface .share .share-prompt { font-size: 25px; text-align: right; }
.interface .share .share-prompt.active { color: rgba(255,255,255,0.5); }
.interface .share .networks { position: absolute; top: 0; right: 0; width: 135px; }
.interface .share .networks a { display: none; float: left; width: 25px; height: 25px; line-height: 25px; text-align: center; font-size: 13px; border: 1px solid #fff; border-radius: 1000px; margin: 0 4px; }
.interface .share .networks a:hover { color: #000; background: #fff; }
.interface .store { position: fixed; bottom: 50px; right: 50px; color: #fff; text-align: right; cursor: pointer; }
.interface .store p { font-size: 16px; margin-bottom: 10px; }
.interface .store .band-logo { font-size: 11px; }
.interface .menu-overlay { display: none; }
.interface .menu-overlay.active { display: block; }
.interface .menu-overlay div { color: #fff; margin: -10px 10px; }
.interface .ind-vortex { position: fixed; top: 30%; right: 80%; font-size: 20px; text-align: right; }
.interface .ind-vinyl { position: fixed; top: 15%; left: 70%; font-size: 20px; }
.interface .ind-keyboard { position: fixed; top: 70%; left: 80%; font-size: 20px; }
.interface .message { position: fixed; bottom: 10px; left: 50px; margin-left: 90px; -webkit-transform: translate3d(0px, 200px, 0px); transform: translate3d(0px, 200px, 0px); }
.interface .message .mask { overflow: hidden; width: 100%; }
.interface .message .mask .content { color: #111; background: url(/bg-message.png) right top no-repeat; height: 50px; padding: 15px 100px 55px 50px; font-size: 22px; line-height: 24px; -webkit-transform: translate3d(-100%, 0px, 0px); transform: translate3d(-100%, 0px, 0px); }
.interface .message .char { position: absolute; top: -52px; left: -123px; -webkit-transform: translate3d(0px, 0px, 0px); transform: translate3d(0px, 0px, 0px); }
.interface .pointer { display: none; opacity: 0; margin: 70px -25px; position: fixed; top: 200px; left: 700px; -webkit-transform-origin: 50% -70px 0; transform-origin: 50% -70px 0;}
@-webkit-keyframes indicate {
    0% { -webkit-transform: translate3d(0px, -10px, 0px); }
    50% { -webkit-transform: translate3d(0px, -40px, 0px); }
    100% { -webkit-transform: translate3d(0px, -10px, 0px); }
}
@keyframes indicate {
    0% { transform: translate3d(0px, -10px, 0px); }
    50% { transform: translate3d(0px, -40px, 0px); }
    100% { transform: translate3d(0px, -10px, 0px); }
}
.interface .pointer img { display: block; width: 50px; -webkit-animation: indicate 1s infinite; -webkit-animation-timing-function: ease-in-out; animation: indicate 1s infinite; animation-timing-function: ease-in-out; }

#bandcamp { border: 0; width: 350px; height: 555px; position: absolute; bottom: 0; right: 0; -webkit-transform: translateX(350px); transform: translateX(350px); }

.about-overlay { display: none; position: fixed; top: 0; right: 0; bottom: 0; left: 0; background: rgba(0,0,0,0.85); overflow: hidden; }
.about-overlay .tentacles-left { position: absolute; top: 0; left: 0; }
.about-overlay .tentacles-right { position: absolute; top: 0; right: 0; }
.about-overlay .close-prompt { position: fixed; top: 30px; right: 30px; color: #000; font-size: 20px; cursor: pointer; padding: 20px;}
.about-overlay .content { position: absolute; top: 0; right: 0; bottom: 0; left: 0; overflow: auto; margin: auto; text-align: center; color: #fff; font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;  font-weight: 300;}
.about-overlay .content .header { width: 220px; margin: 100px 0 50px; }
.about-overlay .content .screenshot { display: block; margin: 60px auto; }
.about-overlay .content p { font-size: 13px; line-height: 20px; margin: 0 auto 20px; letter-spacing: 1px; width: 600px;}
.about-overlay .content h3 { margin: 50px 0 20px; font-size: 22px;}
.about-overlay .content a { padding: 20px; }

.about-hover { position: fixed; width: 170px; top: 50px; left: 0; -webkit-transform: translateX(-100%) scale(0.5); transform: translateX(-100%) scale(0.5); }

/* ==|== EXP MANIVELLE ====================================================== */

.exp-manivelle { }
.exp-manivelle .bottom-curtain { position: fixed; right: 0; bottom: 0; left: 0; width: 80%; margin: 0 auto; -webkit-transform: translate3d(0px, 100%, 0px); transform: translate3d(0px, 100%, 0px); }
.exp-manivelle .top-curtain { position: fixed; top: 0; right: 0; left: 0; width: 80%; margin: 0 auto; -webkit-transform: translate3d(0px, -100%, 0px) scaleY(-1); transform: translate3d(0px, -100%, 0px) scaleY(-1); }
.exp-manivelle .arm-prompt { position: fixed; top: 0; left: 0; color: #fff; margin: -70px 0 0 -155px; font-size: 25px; -webkit-transform: translate3d(0px, 0px, 0px); transform: translate3d(0px, 0px, 0px); }
.exp-manivelle .manivelle-prompt { display: none; opacity: 0; position: fixed; top: 0; left: 0; color: #fff; margin: 25px 0px 0px 15px; font-size: 25px; -webkit-transform: translate3d(0px, 0px, 0px); transform: translate3d(0px, 0px, 0px); }

/* ==|== EXP VORTEX ========================================================= */

.exp-vortex { display: none; }
.exp-vortex .close-prompt { position: fixed; top: 50px; right: 50px; cursor: url(/cur-close.png) 12 12, auto; }
.exp-vortex .close-prompt p { color: #fff; font-size: 16px; width: 60px; margin: 0 auto; text-align: center;}
.exp-vortex .close-prompt img { display: block; margin: 10px auto; width: 40px; }

/* ==|== EXP VINYL ========================================================= */

.exp-vinyl { display: none; }
.exp-vinyl .close-prompt { position: fixed; top: 50px; right: 50px; cursor: url(/cur-close.png) 12 12, auto; }
.exp-vinyl .close-prompt p { color: #fff; font-size: 16px; width: 60px; margin: 0 auto; text-align: center;}
.exp-vinyl .close-prompt img { display: block; margin: 10px auto; width: 40px; }

/* ==|== EXP KEYBOARD ====================================================== */

.exp-keyboard { display: none; }
.exp-keyboard .close-prompt { position: fixed; top: 50px; right: 50px; cursor: url(/cur-close.png) 12 12, auto; }
.exp-keyboard .close-prompt p { color: #fff; font-size: 16px; width: 60px; margin: 0 auto; text-align: center;}
.exp-keyboard .close-prompt img { display: block; margin: 10px auto; width: 40px; }
.exp-keyboard .keys { position: fixed; bottom: 50px; left: 50%; color: #fff; font-size: 22px; }
.exp-keyboard .keys .key { position: absolute; width: 36px; height: 36px; line-height: 36px; margin-left: -19px; border: 1px solid #fff; border-radius: 1000px; text-align: center; left: 0px; bottom: 0px; cursor: pointer; }
.desktop .exp-keyboard .keys .key:hover,
.exp-keyboard .keys .key.active { background: #fff; color: #000; }
.exp-keyboard .keys .key.key-s { left: -180px; }
.exp-keyboard .keys .key.key-d { left: -120px; }
.exp-keyboard .keys .key.key-f { left: -60px; }
.exp-keyboard .keys .key.key-g { left: 0px; }
.exp-keyboard .keys .key.key-h { left: 60px; }
.exp-keyboard .keys .key.key-j { left: 120px; }
.exp-keyboard .keys .key.key-k { left: 180px; }

/* ==|== RESTART ====================================================== */

.restart-popin { position: fixed; top: 0; right: 0; bottom: 0; left: 0; color: #fff; display: none; background: rgba(0,0,0,0.8);}
.restart-popin .axes { position: absolute; top: 50%; left: 50%; width: 230px; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
.restart-popin .clouds-bottom { position: absolute; right: 0; bottom: 0; left: 0; width: 100%; -webkit-transform: translateY(100px); transform: translateY(100px); }
.restart-popin .clouds-top { position: fixed; top: 0; right: 0; left: 0; width: 100%; -webkit-transform: translateY(-100px); transform: translateY(-100px); }
.restart-popin .left-half { position: fixed; top: 0; right: 50%; bottom: 0; left: 0; }
.restart-popin .right-half { position: absolute; top: 0; right: 0; bottom: 0; left: 50%; }
.restart-popin .icons { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, 40px); transform: translate(-50%, 40px); }
.restart-popin .icons a { display: block; float: left; width: 35px; height: 35px; line-height: 35px; text-align: center; font-size: 17px; border: 2px solid #fff; border-radius: 1000px; margin: 0 8px; }
.desktop .restart-popin .icons a:hover { color: #000; background: #fff; }
.restart-popin .icons .restart-prompt { width: 35px; height: 35px; line-height: 35px; text-align: center; font-size: 17px; border: 2px solid #fff; border-radius: 1000px; cursor: pointer; }
.restart-popin .icons .restart-prompt:after { content: ''; display: block; border: 8px solid transparent; border-left: 11px solid white; position: absolute; left: 50%; top: 50%; margin: -8px -4px;}
.desktop .restart-popin .icons .restart-prompt:hover { color: #000; background: #fff; }
.desktop .restart-popin .icons .restart-prompt:hover:after { border-left-color: #000; }
.restart-popin h3 { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -40px); transform: translate(-50%, -40px); font-size: 30px; letter-spacing: 3px;}

/* ==|== ANIMATION ====================================================== */

.shaky { animation-duration: 0.02s; animation-name: shake; animation-iteration-count: infinite; animation-direction: alternate; -webkit-animation-duration: 0.02s; -webkit-animation-name: shake; -webkit-animation-iteration-count: 10; -webkit-animation-direction: alternate; }
@keyframes shake { from { transform: translateX(-1px); } to { transform: translateX(1px); } }
@-webkit-keyframes shake { from { -webkit-transform: translateX(-1px); } to { -webkit-transform: translateX(1px); } }

/* ==|== MOBILE ====================================================== */

.mobile { overflow: hidden; }

.mobile .interface .logo { top: 20px; left: 20px; }
.mobile .interface .logo .un { font-size: 20px; }
.mobile .interface .logo .dead-pirates { font-size: 30px; }
.mobile .interface .menu-prompt { top: 0px; right: 0px; color: #fff; font-size: 11px; }


.mobile .interface .sound { right: 20px; bottom: 20px; top: auto; }
.mobile .interface .sound .mute-prompt { font-size: 17px; }
.mobile .interface .sound .volume-prompt { display: none; }

.mobile .intro .headphones { display: none; }
.mobile .interface .share { display: none; }
.mobile .interface .store { display: none; }
.mobile .interface .store { bottom: 20px; right: 20px; }
.mobile .interface .store p { font-size: 10px; margin-bottom: 1px; }
.mobile .interface .store a { font-size: 9px; }

.mobile .interface .message { bottom: 5px; left: 20px; margin-left: 30px; }
.mobile .interface .message .mask .content { background-size: 260px 65px; height: 24px; padding: 7px 45px 28px 12px; font-size: 12px; line-height: 12px; }
.mobile .interface .message .char { width: 65px; top: -13px; left: -43px; }

.mobile .pointer { margin: 70px -10px; }
.mobile .pointer img { width: 20px;  }

/*.mobile .intro .pause-load { position: absolute; left: 50%; bottom: 10%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); color: rgba(255, 255, 255, 0.2); font-size: 20px; }*/
/*.mobile .intro .grain { display: none; }*/
/*.mobile .intro .splash { height: 100%; width: 100%; position: absolute; }*/
.mobile .intro .un-logo { width: 80px; }
.mobile .intro .fucks-with { width: 160px; }
.mobile .intro .presents { width: 100px; margin-top: 75px; }
.mobile .intro .over-the-hills { width: 160px; -webkit-transform: translate3d(-50%, -135px, 0px); transform: translate3d(-50%, -135px, 0px); }
.mobile .intro .intro-bottom { width: 120px; -webkit-transform: translate3d(-50%, 95px, 0px); transform: translate3d(-50%, 95px, 0px); }

/*.mobile .intro .album-cover { opacity: 0; display: block; position: absolute; left: 50%; top: 50%; width: 300px; height: 300px; padding: 100px; -webkit-transform: translate3d(-50%, -50%, 0px); transform: translate3d(-50%, -50%, 0px); }*/
/*.mobile .intro .album-cover img { display: block; position: absolute; height: 100%; width: 100%; top: 0; left: 0; }*/
.mobile .intro .looneytunes {  }
.mobile .intro .looneytunes div { width: 100px; height: 100px; border-radius: 2000px; border: 200px solid #333; -webkit-transform: translate3d(-50%, -50%, 0px) scale(2); }
.mobile .intro .looneytunes .ring1 { padding: 80px; border-color: #40403f; }
.mobile .intro .looneytunes .ring2 { padding: 110px; border-color: #363434; }
.mobile .intro .looneytunes .ring3 { padding: 140px; border-color: #2e2c2b; }
.mobile .intro .looneytunes .ring4 { padding: 170px; border-color: #262524; }
.mobile .intro .looneytunes .ring5 { padding: 200px; border-color: #1e1e1d; }
.mobile .intro .looneytunes .ring6 { padding: 230px; border-color: #121111; }

.mobile .dead-pirates-svg { z-index: 1; width: 300px; }

.mobile .exp-vinyl .close-prompt,
.mobile .exp-vortex .close-prompt,
.mobile .exp-keyboard .close-prompt { top: 20px; right: 20px; }
.mobile .exp-vinyl .close-prompt p,
.mobile .exp-vortex .close-prompt p,
.mobile .exp-keyboard .close-prompt p { font-size: 13px; width: 50px; }
.mobile .exp-vinyl .close-prompt img,
.mobile .exp-vortex .close-prompt img,
.mobile .exp-keyboard .close-prompt img { width: 30px; }

.mobile .exp-keyboard .keys { font-size: 16px; }
.mobile .exp-keyboard .keys .key { width: 26px; height: 26px; line-height: 26px; margin-left: -13px; }
.mobile .exp-keyboard .keys .key.key-s { left: -135px; }
.mobile .exp-keyboard .keys .key.key-d { left: -90px; }
.mobile .exp-keyboard .keys .key.key-f { left: -45px; }
.mobile .exp-keyboard .keys .key.key-g { left: 0px; }
.mobile .exp-keyboard .keys .key.key-h { left: 45px; }
.mobile .exp-keyboard .keys .key.key-j { left: 90px; }
.mobile .exp-keyboard .keys .key.key-k { left: 134px; }

.mobile .restart-popin .axes { width: 100px; }
.mobile .restart-popin .icons { -webkit-transform: translate(-50%, 20px); transform: translate(-50%, 20px); }
.mobile .restart-popin .icons a { width: 25px; height: 25px; line-height: 25px; font-size: 12px; border: 1px solid #fff; margin: 0 4px; }
.mobile .restart-popin .icons .restart-prompt { width: 25px; height: 25px; line-height: 25px; border: 1px solid #fff; }
.mobile .restart-popin .icons .restart-prompt:after { border: 5px solid transparent; border-left: 7px solid white; margin: -5px -2px;}
.mobile .restart-popin h3 { font-size: 22px; }

.mobile .about-overlay .tentacles-left { width: 120px; }
.mobile .about-overlay .tentacles-right { width: 120px; }
.mobile .about-overlay .close-prompt { top: 0px; right: 0px; width: 20px; padding: 30px;}
.mobile .about-overlay .content .header { width: 120px; margin: 50px 0; }
.mobile .about-overlay .content .screenshot { width: 70% }
.mobile .about-overlay .content p { width: auto; padding: 0 30px; }
.mobile .about-overlay .content h3 { padding: 0 20px; }
.mobile .about-hover { display: none; }

@media (orientation: portrait) {
    .mobile .restart-popin .axes { display: none; }
    .mobile .restart-popin .right-half { left: 40%; }
}

/* ==|== FALLBACK ====================================================== */
.fallback .about-overlay { display: block }
.fallback .about-overlay .close-prompt { display: none }
.fallback .about-overlay .old-chaps { font-size: 1.5em; line-height: 1.3em; margin-bottom: 1.5em; }
.fallback .about-overlay .browsers { text-align: center; margin-bottom: 3em;}
.fallback .about-overlay .browsers img{ display: inline-block; width: 100px;  }
.fallback .about-overlay .browsers img.ios8{ width: 30px; vertical-align: baseline;  }





